html {
    box-sizing: border-box;
}

*, *::before, ::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5,h6, p {
    margin: 0;
    padding: 0;;
}
body {
    margin: 0;
    font-family: 'Nexa';
    font-weight: 400;
}

:root {
    --redColor: #FF0000;
}

.headerFlex {
    display: flex;
    justify-content: space-between;

}

.headerFlexItem {
    margin-top: 77px;
    margin-bottom: 110px;
}

.headerLogo {
    margin-left: 170px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.headerLogoColor {
    color: var(--redColor);
}

.menu {
    margin-right: 170px;
}

.firstMenu {
    color: var(--redColor);
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 72px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
}

.otherMenu {
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 72px;
    color: #000;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;    
    line-height: 18px;
}

.otherMenu:last-child {
    margin-right: 0;
}

.headerAboutFlex {
    display: flex;
    justify-content: space-between;
}

.headerAboutH1 {
    margin-top: 90px;
    margin-left: 170px;
    width: 297px;
    height: 344px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 86px;
    text-transform: uppercase;
}

.headerAboutP {
    margin-left: 170px;
    color: #C4C4C4;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
}

.headerAboutBtn {
    margin-top: 36px;
    margin-left: 170px;
    filter: drop-shadow(0px 4px 4px 
    rgba(0, 0, 0, 0.25)) 
    drop-shadow(0px 4px 4px 
    rgba(0, 0, 0, 0.25)) 
    drop-shadow(0px 4px 4px 
    rgba(0, 0, 0, 0.25));
    width: 204px;
    height: 92px;
    background-color: white;
    border: 3px solid var(--redColor);
    text-transform: capitalize;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.headerAboutImg {
    margin-right: 131px;
}

@media screen and (max-width: 1280px) {
    .headerLogo {
        margin-right: 30px;
    }

    .firstMenu {
        margin-right: 15px;
    }

    .otherMenu {
        margin-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .headerAboutFlex {
        flex-wrap: wrap;
    }
    
    .headerAboutBtn {
        margin-bottom: 40px;
    }

    .headerLogo {
        margin-right: 70px;
    }
}